.bg-container{
    background-image: url("https://pics.craiyon.com/2023-06-11/194a58441d3b45e4aca838d008897b90.webp");
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: whitesmoke;

}