.container{
    display:inline-block;
    background-color: rgb(0, 255, 4);
    width:250px ;
    height:300px ;
    padding:4px ;
    margin: 5px;
    border-radius: 4px;
    border-color:red ;
    border-width:2px ;
    text-align: center;
    margin:10px;
    
}

.background{
    background-color: black;
    height: 100vh;
    background-size:cover;
}